In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import col

#Create SparkSession 
spark = SparkSession.builder \
     .master("local[1]") \
     .appName("SparkByExamples.com") \
     .getOrCreate()

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark

In [4]:
df = spark.read.csv("Absenteeism_new_data.csv",inferSchema=True, header=True)

In [5]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Reason for Absence: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Transportation Expense: integer (nullable = true)
 |-- Distance to Work: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Daily Work Load Average: double (nullable = true)
 |-- Body Mass Index: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Pets: integer (nullable = true)

In [6]:
df.show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [7]:
df.columns

['ID',
 'Reason for Absence',
 'Date',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Education',
 'Children',
 'Pets']

In [8]:
df.withColumnRenamed("ID","id").printSchema()

root
 |-- id: integer (nullable = true)
 |-- Reason for Absence: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Transportation Expense: integer (nullable = true)
 |-- Distance to Work: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Daily Work Load Average: double (nullable = true)
 |-- Body Mass Index: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Pets: integer (nullable = true)

In [9]:
df.columns

['ID',
 'Reason for Absence',
 'Date',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Education',
 'Children',
 'Pets']

In [10]:
new=['id',
 'Reason for Absence',
 'Date',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Education',
 'Children',
 'Pets']

In [11]:
df.toDF(*new).printSchema()

root
 |-- id: integer (nullable = true)
 |-- Reason for Absence: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Transportation Expense: integer (nullable = true)
 |-- Distance to Work: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Daily Work Load Average: double (nullable = true)
 |-- Body Mass Index: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Pets: integer (nullable = true)

In [12]:
df.filter(df.Age==30).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+

In [13]:
df.filter(df.Age!=30).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 34|                25|02/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 34|                 8|06/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|11/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [14]:
li=[50,31,40]

In [15]:
df.filter(df.Age.isin(li)).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                19|13/07/2018|                   233|              51| 31|                264.604|             21|        2|       1|   8|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|
|  4|                 0|24/07/2018|                   118|              14| 40|                271.219|             34|        1|       1|   8|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+

In [16]:
df.sort("Age").show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 10|                22|18/07/2018|                   361|              52| 28|                264.604|             27|        1|       1|   4|
| 28|                22|18/07/2018|                   225|              26| 28|                264.604|             24|        1|       1|   2|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                19|13/07/2018|                   233|              51| 31|                264.604|             21|        2|       1|   8|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
|  6|                22|17/07/2018|                   189|              29| 33|                264.604|             25|        1|       2|   2|
| 11|                14|24/07/2018|                   289|              36| 33|                264.604|             30|        1|       2|   1|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [17]:
df.sort(col("Age"),col("Body Mass Index")).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 28|                22|18/07/2018|                   225|              26| 28|                264.604|             24|        1|       1|   2|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 10|                22|18/07/2018|                   361|              52| 28|                264.604|             27|        1|       1|   4|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 12|                19|13/07/2018|                   233|              51| 31|                264.604|             21|        2|       1|   8|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
|  6|                22|17/07/2018|                   189|              29| 33|                264.604|             25|        1|       2|   2|
| 11|                14|24/07/2018|                   289|              36| 33|                264.604|             30|        1|       2|   1|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [18]:
df.orderBy(col("age")).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 10|                22|18/07/2018|                   361|              52| 28|                264.604|             27|        1|       1|   4|
| 28|                22|18/07/2018|                   225|              26| 28|                264.604|             24|        1|       1|   2|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                19|13/07/2018|                   233|              51| 31|                264.604|             21|        2|       1|   8|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
|  6|                22|17/07/2018|                   189|              29| 33|                264.604|             25|        1|       2|   2|
| 11|                14|24/07/2018|                   289|              36| 33|                264.604|             30|        1|       2|   1|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [19]:
df.createOrReplaceTempView("emp")

In [20]:
spark.sql("select * from emp").show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [21]:
df.columns

['ID',
 'Reason for Absence',
 'Date',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Education',
 'Children',
 'Pets']

In [22]:
df.groupBy("Education").count().show()

+---------+-----+
|Education|count|
+---------+-----+
|        1|   28|
|        3|    6|
|        2|    6|
+---------+-----+

In [23]:
df.groupBy("Education").min("Age").show()

+---------+--------+
|Education|min(Age)|
+---------+--------+
|        1|      28|
|        3|      30|
|        2|      31|
+---------+--------+

In [24]:
df.withColumn("Age",col("Age")*100).show()

+---+------------------+----------+----------------------+----------------+----+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work| Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+----+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26|3000|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52|2800|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12|3400|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22|4000|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12|3400|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26|2800|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15|4600|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26|3000|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10|3700|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10|3700|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49|3600|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13|5000|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51|3100|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26|3000|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29|4800|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11|3300|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13|5000|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26|3000|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31|4000|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26|3000|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+----+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [25]:
from pyspark.sql.functions import *

In [26]:
df.select(approx_count_distinct("Education")).show()

+--------------------------------+
|approx_count_distinct(Education)|
+--------------------------------+
|                               3|
+--------------------------------+

In [27]:
df.select(avg("Age")).show()

+--------+
|avg(Age)|
+--------+
|  37.025|
+--------+

In [28]:
df.select(avg("Age")).collect()[0][0]

37.025

In [29]:
df.select(count("Education")).collect()[0][0]

40

In [30]:
df.select("Age","Education").show()

+---+---------+
|Age|Education|
+---+---------+
| 30|        3|
| 28|        1|
| 34|        1|
| 40|        2|
| 34|        1|
| 28|        1|
| 46|        1|
| 30|        3|
| 37|        1|
| 37|        1|
| 36|        1|
| 50|        1|
| 31|        2|
| 30|        3|
| 48|        1|
| 33|        2|
| 50|        1|
| 30|        3|
| 40|        1|
| 30|        3|
+---+---------+
only showing top 20 rows

In [31]:
df.select([col for col in df.columns]).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [32]:
df.select("*").show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [33]:
df.select(df.columns[:3]).show()

+---+------------------+----------+
| ID|Reason for Absence|      Date|
+---+------------------+----------+
| 22|                27|01/06/2018|
| 10|                 7|04/06/2018|
| 14|                23|06/06/2018|
| 17|                25|08/06/2018|
| 14|                10|08/06/2018|
| 28|                11|11/06/2018|
| 16|                 7|13/06/2018|
| 22|                27|13/06/2018|
| 34|                26|15/06/2018|
| 34|                10|20/06/2018|
| 23|                22|21/06/2018|
| 36|                19|21/06/2018|
| 12|                19|22/06/2018|
| 22|                27|22/06/2018|
|  2|                 0|25/06/2018|
| 21|                 0|28/06/2018|
| 36|                19|28/06/2018|
| 22|                13|28/06/2018|
| 15|                28|28/06/2018|
| 22|                13|02/07/2018|
+---+------------------+----------+
only showing top 20 rows

In [34]:
df.distinct().show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 28|                22|18/07/2018|                   225|              26| 28|                264.604|             24|        1|       1|   2|
| 10|                22|18/07/2018|                   361|              52| 28|                264.604|             27|        1|       1|   4|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
|  9|                 6|16/07/2018|                   228|              14| 58|                264.604|             22|        1|       2|   1|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 35|                 0|27/07/2018|                   179|              45| 53|                271.219|             25|        1|       1|   1|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
|  8|                 0|25/07/2018|                   231|              35| 39|                271.219|             35|        1|       2|   2|
|  6|                22|17/07/2018|                   189|              29| 33|                264.604|             25|        1|       2|   2|
| 34|                 8|06/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|11/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|
|  9|                 6|17/07/2018|                   228|              14| 58|                264.604|             22|        1|       2|   1|
| 12|                19|13/07/2018|                   233|              51| 31|                264.604|             21|        2|       1|   8|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
|  1|                11|24/07/2018|                   235|              11| 37|                264.604|             29|        3|       1|   1|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [35]:
df.select(countDistinct(col("Age"))).collect()[0][0]

15

In [36]:
df.select(approx_count_distinct("Education")).collect()[0][0]

3

In [37]:
df.columns

['ID',
 'Reason for Absence',
 'Date',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Education',
 'Children',
 'Pets']

In [38]:
df.select("ID").show()

+---+
| ID|
+---+
| 22|
| 10|
| 14|
| 17|
| 14|
| 28|
| 16|
| 22|
| 34|
| 34|
| 23|
| 36|
| 12|
| 22|
|  2|
| 21|
| 36|
| 22|
| 15|
| 22|
+---+
only showing top 20 rows

In [53]:
df.select(avg("Education"))

DataFrame[avg(Education): double]

In [40]:
df.limit(4).toPandas()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0

In [41]:
df.show(2,truncate=1,vertical=True)

-RECORD 0----------------------
 ID                      | 2
 Reason for Absence      | 2
 Date                    | 0
 Transportation Expense  | 1
 Distance to Work        | 2
 Age                     | 3
 Daily Work Load Average | 2
 Body Mass Index         | 1
 Education               | 3
 Children                | 0
 Pets                    | 0
-RECORD 1----------------------
 ID                      | 1
 Reason for Absence      | 7
 Date                    | 0
 Transportation Expense  | 3
 Distance to Work        | 5
 Age                     | 2
 Daily Work Load Average | 2
 Body Mass Index         | 2
 Education               | 1
 Children                | 1
 Pets                    | 4
only showing top 2 rows

In [42]:
dataCollect = df.collect()
print(dataCollect)

[Row(ID=22, Reason for Absence=27, Date='01/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=237.656, Body Mass Index=19, Education=3, Children=0, Pets=0), Row(ID=10, Reason for Absence=7, Date='04/06/2018', Transportation Expense=361, Distance to Work=52, Age=28, Daily Work Load Average=237.656, Body Mass Index=27, Education=1, Children=1, Pets=4), Row(ID=14, Reason for Absence=23, Date='06/06/2018', Transportation Expense=155, Distance to Work=12, Age=34, Daily Work Load Average=237.656, Body Mass Index=25, Education=1, Children=2, Pets=0), Row(ID=17, Reason for Absence=25, Date='08/06/2018', Transportation Expense=179, Distance to Work=22, Age=40, Daily Work Load Average=237.656, Body Mass Index=22, Education=2, Children=2, Pets=0), Row(ID=14, Reason for Absence=10, Date='08/06/2018', Transportation Expense=155, Distance to Work=12, Age=34, Daily Work Load Average=237.656, Body Mass Index=25, Education=1, Children=2, Pets=0), Row(ID=28, Reason for Absence=11, Date='11/06/2018', Transportation Expense=225, Distance to Work=26, Age=28, Daily Work Load Average=237.656, Body Mass Index=24, Education=1, Children=1, Pets=2), Row(ID=16, Reason for Absence=7, Date='13/06/2018', Transportation Expense=118, Distance to Work=15, Age=46, Daily Work Load Average=275.089, Body Mass Index=25, Education=1, Children=2, Pets=0), Row(ID=22, Reason for Absence=27, Date='13/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0), Row(ID=34, Reason for Absence=26, Date='15/06/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=34, Reason for Absence=10, Date='20/06/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=23, Reason for Absence=22, Date='21/06/2018', Transportation Expense=378, Distance to Work=49, Age=36, Daily Work Load Average=275.089, Body Mass Index=21, Education=1, Children=2, Pets=4), Row(ID=36, Reason for Absence=19, Date='21/06/2018', Transportation Expense=118, Distance to Work=13, Age=50, Daily Work Load Average=275.089, Body Mass Index=31, Education=1, Children=1, Pets=0), Row(ID=12, Reason for Absence=19, Date='22/06/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8), Row(ID=22, Reason for Absence=27, Date='22/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0), Row(ID=2, Reason for Absence=0, Date='25/06/2018', Transportation Expense=235, Distance to Work=29, Age=48, Daily Work Load Average=275.089, Body Mass Index=33, Education=1, Children=1, Pets=5), Row(ID=21, Reason for Absence=0, Date='28/06/2018', Transportation Expense=268, Distance to Work=11, Age=33, Daily Work Load Average=275.089, Body Mass Index=25, Education=2, Children=0, Pets=0), Row(ID=36, Reason for Absence=19, Date='28/06/2018', Transportation Expense=118, Distance to Work=13, Age=50, Daily Work Load Average=275.089, Body Mass Index=31, Education=1, Children=1, Pets=0), Row(ID=22, Reason for Absence=13, Date='28/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0), Row(ID=15, Reason for Absence=28, Date='28/06/2018', Transportation Expense=291, Distance to Work=31, Age=40, Daily Work Load Average=275.089, Body Mass Index=25, Education=1, Children=1, Pets=1), Row(ID=22, Reason for Absence=13, Date='02/07/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0), Row(ID=34, Reason for Absence=25, Date='02/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=12, Reason for Absence=22, Date='05/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8), Row(ID=34, Reason for Absence=8, Date='06/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=34, Reason for Absence=10, Date='11/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=12, Reason for Absence=22, Date='11/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8), Row(ID=5, Reason for Absence=26, Date='11/07/2018', Transportation Expense=235, Distance to Work=20, Age=43, Daily Work Load Average=264.604, Body Mass Index=38, Education=1, Children=1, Pets=0), Row(ID=12, Reason for Absence=19, Date='13/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=264.604, Body Mass Index=21, Education=2, Children=1, Pets=8), Row(ID=9, Reason for Absence=6, Date='16/07/2018', Transportation Expense=228, Distance to Work=14, Age=58, Daily Work Load Average=264.604, Body Mass Index=22, Education=1, Children=2, Pets=1), Row(ID=34, Reason for Absence=28, Date='16/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=264.604, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=9, Reason for Absence=6, Date='17/07/2018', Transportation Expense=228, Distance to Work=14, Age=58, Daily Work Load Average=264.604, Body Mass Index=22, Education=1, Children=2, Pets=1), Row(ID=6, Reason for Absence=22, Date='17/07/2018', Transportation Expense=189, Distance to Work=29, Age=33, Daily Work Load Average=264.604, Body Mass Index=25, Education=1, Children=2, Pets=2), Row(ID=34, Reason for Absence=23, Date='18/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=264.604, Body Mass Index=28, Education=1, Children=0, Pets=0), Row(ID=10, Reason for Absence=22, Date='18/07/2018', Transportation Expense=361, Distance to Work=52, Age=28, Daily Work Load Average=264.604, Body Mass Index=27, Education=1, Children=1, Pets=4), Row(ID=28, Reason for Absence=22, Date='18/07/2018', Transportation Expense=225, Distance to Work=26, Age=28, Daily Work Load Average=264.604, Body Mass Index=24, Education=1, Children=1, Pets=2), Row(ID=13, Reason for Absence=13, Date='23/07/2018', Transportation Expense=369, Distance to Work=17, Age=31, Daily Work Load Average=264.604, Body Mass Index=25, Education=1, Children=3, Pets=0), Row(ID=11, Reason for Absence=14, Date='24/07/2018', Transportation Expense=289, Distance to Work=36, Age=33, Daily Work Load Average=264.604, Body Mass Index=30, Education=1, Children=2, Pets=1), Row(ID=1, Reason for Absence=11, Date='24/07/2018', Transportation Expense=235, Distance to Work=11, Age=37, Daily Work Load Average=264.604, Body Mass Index=29, Education=3, Children=1, Pets=1), Row(ID=4, Reason for Absence=0, Date='24/07/2018', Transportation Expense=118, Distance to Work=14, Age=40, Daily Work Load Average=271.219, Body Mass Index=34, Education=1, Children=1, Pets=8), Row(ID=8, Reason for Absence=0, Date='25/07/2018', Transportation Expense=231, Distance to Work=35, Age=39, Daily Work Load Average=271.219, Body Mass Index=35, Education=1, Children=2, Pets=2), Row(ID=35, Reason for Absence=0, Date='27/07/2018', Transportation Expense=179, Distance to Work=45, Age=53, Daily Work Load Average=271.219, Body Mass Index=25, Education=1, Children=1, Pets=1)]

In [43]:
for row in dataCollect:
    print(row)

Row(ID=22, Reason for Absence=27, Date='01/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=237.656, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=10, Reason for Absence=7, Date='04/06/2018', Transportation Expense=361, Distance to Work=52, Age=28, Daily Work Load Average=237.656, Body Mass Index=27, Education=1, Children=1, Pets=4)
Row(ID=14, Reason for Absence=23, Date='06/06/2018', Transportation Expense=155, Distance to Work=12, Age=34, Daily Work Load Average=237.656, Body Mass Index=25, Education=1, Children=2, Pets=0)
Row(ID=17, Reason for Absence=25, Date='08/06/2018', Transportation Expense=179, Distance to Work=22, Age=40, Daily Work Load Average=237.656, Body Mass Index=22, Education=2, Children=2, Pets=0)
Row(ID=14, Reason for Absence=10, Date='08/06/2018', Transportation Expense=155, Distance to Work=12, Age=34, Daily Work Load Average=237.656, Body Mass Index=25, Education=1, Children=2, Pets=0)
Row(ID=28, Reason for Absence=11, Date='11/06/2018', Transportation Expense=225, Distance to Work=26, Age=28, Daily Work Load Average=237.656, Body Mass Index=24, Education=1, Children=1, Pets=2)
Row(ID=16, Reason for Absence=7, Date='13/06/2018', Transportation Expense=118, Distance to Work=15, Age=46, Daily Work Load Average=275.089, Body Mass Index=25, Education=1, Children=2, Pets=0)
Row(ID=22, Reason for Absence=27, Date='13/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=34, Reason for Absence=26, Date='15/06/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=34, Reason for Absence=10, Date='20/06/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=23, Reason for Absence=22, Date='21/06/2018', Transportation Expense=378, Distance to Work=49, Age=36, Daily Work Load Average=275.089, Body Mass Index=21, Education=1, Children=2, Pets=4)
Row(ID=36, Reason for Absence=19, Date='21/06/2018', Transportation Expense=118, Distance to Work=13, Age=50, Daily Work Load Average=275.089, Body Mass Index=31, Education=1, Children=1, Pets=0)
Row(ID=12, Reason for Absence=19, Date='22/06/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=22, Reason for Absence=27, Date='22/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=2, Reason for Absence=0, Date='25/06/2018', Transportation Expense=235, Distance to Work=29, Age=48, Daily Work Load Average=275.089, Body Mass Index=33, Education=1, Children=1, Pets=5)
Row(ID=21, Reason for Absence=0, Date='28/06/2018', Transportation Expense=268, Distance to Work=11, Age=33, Daily Work Load Average=275.089, Body Mass Index=25, Education=2, Children=0, Pets=0)
Row(ID=36, Reason for Absence=19, Date='28/06/2018', Transportation Expense=118, Distance to Work=13, Age=50, Daily Work Load Average=275.089, Body Mass Index=31, Education=1, Children=1, Pets=0)
Row(ID=22, Reason for Absence=13, Date='28/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=15, Reason for Absence=28, Date='28/06/2018', Transportation Expense=291, Distance to Work=31, Age=40, Daily Work Load Average=275.089, Body Mass Index=25, Education=1, Children=1, Pets=1)
Row(ID=22, Reason for Absence=13, Date='02/07/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=34, Reason for Absence=25, Date='02/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=12, Reason for Absence=22, Date='05/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=34, Reason for Absence=8, Date='06/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=34, Reason for Absence=10, Date='11/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=12, Reason for Absence=22, Date='11/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=5, Reason for Absence=26, Date='11/07/2018', Transportation Expense=235, Distance to Work=20, Age=43, Daily Work Load Average=264.604, Body Mass Index=38, Education=1, Children=1, Pets=0)
Row(ID=12, Reason for Absence=19, Date='13/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=264.604, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=9, Reason for Absence=6, Date='16/07/2018', Transportation Expense=228, Distance to Work=14, Age=58, Daily Work Load Average=264.604, Body Mass Index=22, Education=1, Children=2, Pets=1)
Row(ID=34, Reason for Absence=28, Date='16/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=264.604, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=9, Reason for Absence=6, Date='17/07/2018', Transportation Expense=228, Distance to Work=14, Age=58, Daily Work Load Average=264.604, Body Mass Index=22, Education=1, Children=2, Pets=1)
Row(ID=6, Reason for Absence=22, Date='17/07/2018', Transportation Expense=189, Distance to Work=29, Age=33, Daily Work Load Average=264.604, Body Mass Index=25, Education=1, Children=2, Pets=2)
Row(ID=34, Reason for Absence=23, Date='18/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=264.604, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=10, Reason for Absence=22, Date='18/07/2018', Transportation Expense=361, Distance to Work=52, Age=28, Daily Work Load Average=264.604, Body Mass Index=27, Education=1, Children=1, Pets=4)
Row(ID=28, Reason for Absence=22, Date='18/07/2018', Transportation Expense=225, Distance to Work=26, Age=28, Daily Work Load Average=264.604, Body Mass Index=24, Education=1, Children=1, Pets=2)
Row(ID=13, Reason for Absence=13, Date='23/07/2018', Transportation Expense=369, Distance to Work=17, Age=31, Daily Work Load Average=264.604, Body Mass Index=25, Education=1, Children=3, Pets=0)
Row(ID=11, Reason for Absence=14, Date='24/07/2018', Transportation Expense=289, Distance to Work=36, Age=33, Daily Work Load Average=264.604, Body Mass Index=30, Education=1, Children=2, Pets=1)
Row(ID=1, Reason for Absence=11, Date='24/07/2018', Transportation Expense=235, Distance to Work=11, Age=37, Daily Work Load Average=264.604, Body Mass Index=29, Education=3, Children=1, Pets=1)
Row(ID=4, Reason for Absence=0, Date='24/07/2018', Transportation Expense=118, Distance to Work=14, Age=40, Daily Work Load Average=271.219, Body Mass Index=34, Education=1, Children=1, Pets=8)
Row(ID=8, Reason for Absence=0, Date='25/07/2018', Transportation Expense=231, Distance to Work=35, Age=39, Daily Work Load Average=271.219, Body Mass Index=35, Education=1, Children=2, Pets=2)
Row(ID=35, Reason for Absence=0, Date='27/07/2018', Transportation Expense=179, Distance to Work=45, Age=53, Daily Work Load Average=271.219, Body Mass Index=25, Education=1, Children=1, Pets=1)

In [44]:
df.collect()[1][1]

7

In [45]:
df.select("Age").collect()[0][0]

30

In [46]:
df.show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [49]:
df.select(approx_count_distinct("Transportation Expense")).collect()[0][0]

15

In [51]:
df.select(avg("Transportation Expense")).collect()[0][0]

203.525

In [56]:
df.select(collect_list("Transportation Expense")).collect()[0][0]

[179,
 361,
 155,
 179,
 155,
 225,
 118,
 179,
 118,
 118,
 378,
 118,
 233,
 179,
 235,
 268,
 118,
 179,
 291,
 179,
 118,
 233,
 118,
 118,
 233,
 235,
 233,
 228,
 118,
 228,
 189,
 118,
 361,
 225,
 369,
 289,
 235,
 118,
 231,
 179]

In [57]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Reason for Absence: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Transportation Expense: integer (nullable = true)
 |-- Distance to Work: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Daily Work Load Average: double (nullable = true)
 |-- Body Mass Index: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Pets: integer (nullable = true)

In [59]:
df.select(collect_set("pets")).collect()[0][0]

[0, 1, 5, 2, 4, 8]

In [63]:
df.select(countDistinct("pets")).collect()[0][0]

6

In [72]:
df.filter((df["pets"]==4) | (df["pets"]==2)).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
|  6|                22|17/07/2018|                   189|              29| 33|                264.604|             25|        1|       2|   2|
| 10|                22|18/07/2018|                   361|              52| 28|                264.604|             27|        1|       1|   4|
| 28|                22|18/07/2018|                   225|              26| 28|                264.604|             24|        1|       1|   2|
|  8|                 0|25/07/2018|                   231|              35| 39|                271.219|             35|        1|       2|   2|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+

In [73]:
df.select([col for col in df.columns]).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [74]:
df.select("*").show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [75]:
newdf=df.distinct()

In [77]:
newdf.show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 28|                22|18/07/2018|                   225|              26| 28|                264.604|             24|        1|       1|   2|
| 10|                22|18/07/2018|                   361|              52| 28|                264.604|             27|        1|       1|   4|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
|  9|                 6|16/07/2018|                   228|              14| 58|                264.604|             22|        1|       2|   1|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 12|                22|11/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 35|                 0|27/07/2018|                   179|              45| 53|                271.219|             25|        1|       1|   1|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
|  8|                 0|25/07/2018|                   231|              35| 39|                271.219|             35|        1|       2|   2|
|  6|                22|17/07/2018|                   189|              29| 33|                264.604|             25|        1|       2|   2|
| 34|                 8|06/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|11/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 12|                22|05/07/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|
|  9|                 6|17/07/2018|                   228|              14| 58|                264.604|             22|        1|       2|   1|
| 12|                19|13/07/2018|                   233|              51| 31|                264.604|             21|        2|       1|   8|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
|  1|                11|24/07/2018|                   235|              11| 37|                264.604|             29|        3|       1|   1|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [79]:
df.select("Transportation Expense","pets").filter(df["Transportation Expense"]>100).show()

+----------------------+----+
|Transportation Expense|pets|
+----------------------+----+
|                   179|   0|
|                   361|   4|
|                   155|   0|
|                   179|   0|
|                   155|   0|
|                   225|   2|
|                   118|   0|
|                   179|   0|
|                   118|   0|
|                   118|   0|
|                   378|   4|
|                   118|   0|
|                   233|   8|
|                   179|   0|
|                   235|   5|
|                   268|   0|
|                   118|   0|
|                   179|   0|
|                   291|   1|
|                   179|   0|
+----------------------+----+
only showing top 20 rows

In [81]:
df.filter(df["Transportation Expense"]>100).count()

40

In [82]:
df.agg({"Transportation Expense":"max"}).show()

+---------------------------+
|max(Transportation Expense)|
+---------------------------+
|                        378|
+---------------------------+

In [87]:
df.select([col for col in df.columns]).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows

In [88]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Reason for Absence: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Transportation Expense: integer (nullable = true)
 |-- Distance to Work: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Daily Work Load Average: double (nullable = true)
 |-- Body Mass Index: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Pets: integer (nullable = true)

In [89]:
df.groupBy("Pets").agg({"Transportation Expense":"min"}).show()

+----+---------------------------+
|Pets|min(Transportation Expense)|
+----+---------------------------+
|   1|                        179|
|   5|                        235|
|   4|                        361|
|   8|                        118|
|   2|                        189|
|   0|                        118|
+----+---------------------------+

In [90]:
df.groupBy("Pets").agg({"Transportation Expense":"min","Education":"max"}).show()

+----+--------------+---------------------------+
|Pets|max(Education)|min(Transportation Expense)|
+----+--------------+---------------------------+
|   1|             3|                        179|
|   5|             1|                        235|
|   4|             1|                        361|
|   8|             2|                        118|
|   2|             1|                        189|
|   0|             3|                        118|
+----+--------------+---------------------------+

In [94]:
df.groupBy("pets").pivot("Education").sum("Transportation Expense").show()

+----+----+----+----+
|pets|   1|   2|   3|
+----+----+----+----+
|   1|1215|null| 235|
|   5| 235|null|null|
|   4|1100|null|null|
|   8| 118| 932|null|
|   2| 870|null|null|
|   0|2094| 447| 895|
+----+----+----+----+

In [95]:
df.select(collect_set("Education")).collect()[0][0]

[1, 2, 3]

In [101]:
for row in df.collect():
    print(row)

Row(ID=22, Reason for Absence=27, Date='01/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=237.656, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=10, Reason for Absence=7, Date='04/06/2018', Transportation Expense=361, Distance to Work=52, Age=28, Daily Work Load Average=237.656, Body Mass Index=27, Education=1, Children=1, Pets=4)
Row(ID=14, Reason for Absence=23, Date='06/06/2018', Transportation Expense=155, Distance to Work=12, Age=34, Daily Work Load Average=237.656, Body Mass Index=25, Education=1, Children=2, Pets=0)
Row(ID=17, Reason for Absence=25, Date='08/06/2018', Transportation Expense=179, Distance to Work=22, Age=40, Daily Work Load Average=237.656, Body Mass Index=22, Education=2, Children=2, Pets=0)
Row(ID=14, Reason for Absence=10, Date='08/06/2018', Transportation Expense=155, Distance to Work=12, Age=34, Daily Work Load Average=237.656, Body Mass Index=25, Education=1, Children=2, Pets=0)
Row(ID=28, Reason for Absence=11, Date='11/06/2018', Transportation Expense=225, Distance to Work=26, Age=28, Daily Work Load Average=237.656, Body Mass Index=24, Education=1, Children=1, Pets=2)
Row(ID=16, Reason for Absence=7, Date='13/06/2018', Transportation Expense=118, Distance to Work=15, Age=46, Daily Work Load Average=275.089, Body Mass Index=25, Education=1, Children=2, Pets=0)
Row(ID=22, Reason for Absence=27, Date='13/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=34, Reason for Absence=26, Date='15/06/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=34, Reason for Absence=10, Date='20/06/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=23, Reason for Absence=22, Date='21/06/2018', Transportation Expense=378, Distance to Work=49, Age=36, Daily Work Load Average=275.089, Body Mass Index=21, Education=1, Children=2, Pets=4)
Row(ID=36, Reason for Absence=19, Date='21/06/2018', Transportation Expense=118, Distance to Work=13, Age=50, Daily Work Load Average=275.089, Body Mass Index=31, Education=1, Children=1, Pets=0)
Row(ID=12, Reason for Absence=19, Date='22/06/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=22, Reason for Absence=27, Date='22/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=2, Reason for Absence=0, Date='25/06/2018', Transportation Expense=235, Distance to Work=29, Age=48, Daily Work Load Average=275.089, Body Mass Index=33, Education=1, Children=1, Pets=5)
Row(ID=21, Reason for Absence=0, Date='28/06/2018', Transportation Expense=268, Distance to Work=11, Age=33, Daily Work Load Average=275.089, Body Mass Index=25, Education=2, Children=0, Pets=0)
Row(ID=36, Reason for Absence=19, Date='28/06/2018', Transportation Expense=118, Distance to Work=13, Age=50, Daily Work Load Average=275.089, Body Mass Index=31, Education=1, Children=1, Pets=0)
Row(ID=22, Reason for Absence=13, Date='28/06/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=15, Reason for Absence=28, Date='28/06/2018', Transportation Expense=291, Distance to Work=31, Age=40, Daily Work Load Average=275.089, Body Mass Index=25, Education=1, Children=1, Pets=1)
Row(ID=22, Reason for Absence=13, Date='02/07/2018', Transportation Expense=179, Distance to Work=26, Age=30, Daily Work Load Average=275.089, Body Mass Index=19, Education=3, Children=0, Pets=0)
Row(ID=34, Reason for Absence=25, Date='02/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=12, Reason for Absence=22, Date='05/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=34, Reason for Absence=8, Date='06/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=34, Reason for Absence=10, Date='11/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=275.089, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=12, Reason for Absence=22, Date='11/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=275.089, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=5, Reason for Absence=26, Date='11/07/2018', Transportation Expense=235, Distance to Work=20, Age=43, Daily Work Load Average=264.604, Body Mass Index=38, Education=1, Children=1, Pets=0)
Row(ID=12, Reason for Absence=19, Date='13/07/2018', Transportation Expense=233, Distance to Work=51, Age=31, Daily Work Load Average=264.604, Body Mass Index=21, Education=2, Children=1, Pets=8)
Row(ID=9, Reason for Absence=6, Date='16/07/2018', Transportation Expense=228, Distance to Work=14, Age=58, Daily Work Load Average=264.604, Body Mass Index=22, Education=1, Children=2, Pets=1)
Row(ID=34, Reason for Absence=28, Date='16/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=264.604, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=9, Reason for Absence=6, Date='17/07/2018', Transportation Expense=228, Distance to Work=14, Age=58, Daily Work Load Average=264.604, Body Mass Index=22, Education=1, Children=2, Pets=1)
Row(ID=6, Reason for Absence=22, Date='17/07/2018', Transportation Expense=189, Distance to Work=29, Age=33, Daily Work Load Average=264.604, Body Mass Index=25, Education=1, Children=2, Pets=2)
Row(ID=34, Reason for Absence=23, Date='18/07/2018', Transportation Expense=118, Distance to Work=10, Age=37, Daily Work Load Average=264.604, Body Mass Index=28, Education=1, Children=0, Pets=0)
Row(ID=10, Reason for Absence=22, Date='18/07/2018', Transportation Expense=361, Distance to Work=52, Age=28, Daily Work Load Average=264.604, Body Mass Index=27, Education=1, Children=1, Pets=4)
Row(ID=28, Reason for Absence=22, Date='18/07/2018', Transportation Expense=225, Distance to Work=26, Age=28, Daily Work Load Average=264.604, Body Mass Index=24, Education=1, Children=1, Pets=2)
Row(ID=13, Reason for Absence=13, Date='23/07/2018', Transportation Expense=369, Distance to Work=17, Age=31, Daily Work Load Average=264.604, Body Mass Index=25, Education=1, Children=3, Pets=0)
Row(ID=11, Reason for Absence=14, Date='24/07/2018', Transportation Expense=289, Distance to Work=36, Age=33, Daily Work Load Average=264.604, Body Mass Index=30, Education=1, Children=2, Pets=1)
Row(ID=1, Reason for Absence=11, Date='24/07/2018', Transportation Expense=235, Distance to Work=11, Age=37, Daily Work Load Average=264.604, Body Mass Index=29, Education=3, Children=1, Pets=1)
Row(ID=4, Reason for Absence=0, Date='24/07/2018', Transportation Expense=118, Distance to Work=14, Age=40, Daily Work Load Average=271.219, Body Mass Index=34, Education=1, Children=1, Pets=8)
Row(ID=8, Reason for Absence=0, Date='25/07/2018', Transportation Expense=231, Distance to Work=35, Age=39, Daily Work Load Average=271.219, Body Mass Index=35, Education=1, Children=2, Pets=2)
Row(ID=35, Reason for Absence=0, Date='27/07/2018', Transportation Expense=179, Distance to Work=45, Age=53, Daily Work Load Average=271.219, Body Mass Index=25, Education=1, Children=1, Pets=1)

In [106]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec=Window.partitionBy("pets").orderBy("Education")

In [109]:
df.withColumn("row_number", row_number().over(windowSpec)).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+----------+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|row_number|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+----------+
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|         1|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|         2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|         3|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         4|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         5|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|         6|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|         7|
| 34|                25|02/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         8|
| 34|                 8|06/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         9|
| 34|                10|11/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|        10|
|  5|                26|11/07/2018|                   235|              20| 43|                264.604|             38|        1|       1|   0|        11|
| 34|                28|16/07/2018|                   118|              10| 37|                264.604|             28|        1|       0|   0|        12|
| 34|                23|18/07/2018|                   118|              10| 37|                264.604|             28|        1|       0|   0|        13|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|        14|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|        15|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|        16|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|        17|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|        18|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|        19|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|        20|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+----------+
only showing top 20 rows

In [110]:
windowSpec=Window.partitionBy("pets").orderBy("Education")
df.withColumn("row_number", row_number().over(windowSpec)).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+----------+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|row_number|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+----------+
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|         1|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|         2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|         3|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         4|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         5|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|         6|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|         7|
| 34|                25|02/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         8|
| 34|                 8|06/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|         9|
| 34|                10|11/07/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|        10|
|  5|                26|11/07/2018|                   235|              20| 43|                264.604|             38|        1|       1|   0|        11|
| 34|                28|16/07/2018|                   118|              10| 37|                264.604|             28|        1|       0|   0|        12|
| 34|                23|18/07/2018|                   118|              10| 37|                264.604|             28|        1|       0|   0|        13|
| 13|                13|23/07/2018|                   369|              17| 31|                264.604|             25|        1|       3|   0|        14|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|        15|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|        16|
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|        17|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|        18|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|        19|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|        20|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+----------+
only showing top 20 rows

In [113]:
df.withColumn("new_edu",
              when(df["Education"]==1,"top").
              when(df["Education"]==2, "middle").
              when(df["Education"]==3, "primary").
              otherwise(df["Education"])).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+-------+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|new_edu|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+-------+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|primary|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|    top|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|    top|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0| middle|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|    top|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|    top|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|    top|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|primary|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|    top|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|    top|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|    top|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|    top|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8| middle|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|primary|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|    top|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0| middle|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|    top|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|primary|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|    top|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|primary|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+-------+
only showing top 20 rows

In [114]:
df.withColumn("exp",
              when(df["Transportation Expense"]<=50,"less").
              when((df["Transportation Expense"]>50) | (df["Transportation Expense"]<=100),"moderate").
              when(df["Transportation Expense"]>100, "high")).show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+--------+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|     exp|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+--------+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|moderate|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|moderate|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|moderate|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|moderate|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|moderate|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|moderate|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|moderate|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|moderate|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|moderate|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|moderate|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|moderate|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|moderate|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|moderate|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|moderate|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|moderate|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|moderate|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|moderate|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|moderate|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|moderate|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|moderate|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+--------+
only showing top 20 rows

In [115]:
df.createOrReplaceTempView("emp")

In [118]:
spark.sql("select * from emp").show()

+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| ID|Reason for Absence|      Date|Transportation Expense|Distance to Work|Age|Daily Work Load Average|Body Mass Index|Education|Children|Pets|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
| 22|                27|01/06/2018|                   179|              26| 30|                237.656|             19|        3|       0|   0|
| 10|                 7|04/06/2018|                   361|              52| 28|                237.656|             27|        1|       1|   4|
| 14|                23|06/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 17|                25|08/06/2018|                   179|              22| 40|                237.656|             22|        2|       2|   0|
| 14|                10|08/06/2018|                   155|              12| 34|                237.656|             25|        1|       2|   0|
| 28|                11|11/06/2018|                   225|              26| 28|                237.656|             24|        1|       1|   2|
| 16|                 7|13/06/2018|                   118|              15| 46|                275.089|             25|        1|       2|   0|
| 22|                27|13/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 34|                26|15/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 34|                10|20/06/2018|                   118|              10| 37|                275.089|             28|        1|       0|   0|
| 23|                22|21/06/2018|                   378|              49| 36|                275.089|             21|        1|       2|   4|
| 36|                19|21/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 12|                19|22/06/2018|                   233|              51| 31|                275.089|             21|        2|       1|   8|
| 22|                27|22/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
|  2|                 0|25/06/2018|                   235|              29| 48|                275.089|             33|        1|       1|   5|
| 21|                 0|28/06/2018|                   268|              11| 33|                275.089|             25|        2|       0|   0|
| 36|                19|28/06/2018|                   118|              13| 50|                275.089|             31|        1|       1|   0|
| 22|                13|28/06/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
| 15|                28|28/06/2018|                   291|              31| 40|                275.089|             25|        1|       1|   1|
| 22|                13|02/07/2018|                   179|              26| 30|                275.089|             19|        3|       0|   0|
+---+------------------+----------+----------------------+----------------+---+-----------------------+---------------+---------+--------+----+
only showing top 20 rows